<!DOCTYPE html>
<html lang="{{ metadata.language }}">
	{% include "headtag.njk" %}
	<body>
		{% block pre %}
		{% endblock %}
		<main aria-hidden="false" style="overflow: auto;">
			{% block content %}
			{% endblock %}
			<!-- {{ content | safe }} -->
		</main>
		{% block post %}
		<span> background </span>
		{% endblock %}
	</body>
</html>
