<!DOCTYPE html>
<html lang="{{ metadata.language }}">
	{% include "headtag.njk" %}
	<body>
		{% block pre %}
		{% endblock %}
		<main aria-hidden="false" style="overflow: auto;">
			{# can be used as extends and as 11ty layout #}
			{% block content %}
			{% endblock %}
		</main>
		{% block post %}
		{% endblock %}
	</body>
</html>
