---
layout: base
permalink: "posts/{{ title | slugify }}/index.html"
---
<div class="container post">
	<h1>{{ title }}</h1>
	<div class="categories">
		{% for category in categories %}
			<a href="#">{{ category }}</a>
		{% endfor %}
	</div>
	<hr>
	{{ content | safe }}
</div>
