<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="")
    title Daniel Mayovskiy
  body
    canvas#c
    main
      h1 Daniel Mayovskiy
      h5 Front-end Developer
      
      section.about-me 
        h2 Information <b>About Me. </b>
        p I am a web-developer from Ukraine, that currently lives in United States. I can make cool websites like this and more. Right now I am focused on finishing high-school and one of my side projects that is yet to be released. In my spare time I do experiments for the web, which you can see at my CodePen.
        
      section.on-the-web
        h2 Me on the <b> Web: </b>
        nav
          ul
            li: a(href="#") Twitter
            li: a(href="#") CodePen
            li: a(href="#") Github
            li: a(href="#") YouTube
    
    
    script(src="JS/main-dist.js")
    script(src="JS/canvas-dist.js")
