doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Daniel Mayovsky
    
    link(rel="stylesheet", href="css/styles.css")
    script.
      window.addEventListener("load", function(){
        setTimeout(function(){
          document.getElementById("pr").className += "close";
          setTimeout(function(){
            document.getElementById("pr").innerHTML = "";
          }, 1000)
        }, 1000)
      })
  body
    #pr
      #preloader
        .prel-box
          .prel-inbox
    canvas#canvas
    .wrapper
      .card
        h1 Daniel Mayovsky
        p.light Junior Front-end developer
        .row.row--no-gutter
          .col.col--1-of-2
            p.main Me on:
            li
              a(href="#") Codepen.io
            li
              a(href="#") VK.com
            li
              a(href="#") YouTube
          .col.col--1-of-2
            p.main Contact Me:
            li
              a(href="mailto:daniel.mayovsky@gmail.com") daniel.mayovsky@gmail.com
                
    script(src="js/jquery-1.10.2.js")
    script(src="js/main.js")
