$accent: rgba(90,0,0,1);
$medium-break: 780px;
$small-break: 520px;

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}

@mixin fontSize($size) {
  //font-size: $size; //Fallback in px
  font-size: calculateRem($size);
}

@keyframes fadeOut {
	from{
		transform: translate(0, 0);
		opacity: 1;
	}
	to {
		transform: translate(0, -400px);
		opacity: 0;
	}
}
@keyframes fadeIn {
	from {
		transform: translate(0, 300px);
		opacity: 0;
	}
	to {
		transform: translate(0, 0);
		opacity: 1;
	}
}
