@font-face
  src: url("/css/fonts/OpenSans-Light.ttf")
  font-family: "Open Sans"
  font-weight: 100

@font-face
  src: url("/css/fonts/OpenSans-Regular.ttf")
  font-family: "Open Sans"
  font-weight: 300

@font-face
  src: url("/css/fonts/OpenSans-Semibold.ttf")
  font-family: "Open Sans"
  font-weight: 500

*
  box-sizing: border-box

$green: rgba(39, 173, 96, 1)

body
  width: 100vw
  min-height: 100vh

  overflow: hidden
  overflow-y: auto

  position: relative
  z-index: 0
  display: block
  background-color: $light
  font-family: "Open Sans"

#canvas
  position: fixed
  display: block
  top: 0
  left: 0

  background-color: $light
  z-index: -1

.back-img
  width: 100vw
  height: 100vh
  overflow:hidden

  display: block
  position: fixed
  top: 0
  left: 0

  background-image: url("/css/imp/D.png")
  background-position: center center
  background-repeat: no-repeat
  background-size: contain

  -webkit-filter: drop-shadow(0px 0px 20px rgba(0,0,0,0.5))
  filter: drop-shadow(0px 0px 20px rgba(0,0,0,0.5))

.wrapper
  width: 95%
  max-width: 630px
  min-height: 100vh

  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  margin: 0 auto
  position: relative

  .card
    width: 100%
    max-width: 630px
    min-height: 360px

    display: block
    position: relative

    //background-color: rgba(39, 173, 96, 1)
    background-color: rgba(255,255,255,0.9)
    padding: 40px 20px
    color: black
    border-radius: 4px

    transition: background-color 0.3s
    box-shadow: 10px 0px 140px 0px rgba(0,0,0,0.35)
    @media (max-width: 720px)
      .col
        margin-bottom: 25px
        &:last-child
          margin-bottom: 0
    h1,p
      margin: 0
      line-height: 100%

    h1
      text-transform: uppercase
      font-size: 36px
      font-weight: 500
      letter-spacing: 2px

    .light
      font-size: 24px
      font-weight: 100
      margin-top: 30px
      margin-bottom: 60px

    p.main
      font-size: 24px
      font-weight: 500
      text-transform: uppercase
      margin-bottom: 15px

    li
      list-style: none
      a
        color: black
        text-decoration: none
        font-size: 18px
        font-weight: 300
        transition: 0.3s
        position: relative

        &::after
          content: " "
          display: block
          position: absolute
          bottom: 0
          left: 0
          height: 1px
          background-color: black
          width: 0%
          transition: 0.35s ease-out

        &:hover
          color: black

          &::after
            width: 100%
