---
layout: base.njk
---

{% set indexStyles %}
{% include 'css/index.scss' %}
{% endset %}

<style>
{{ indexStyles | sassCompile | safe }}
</style>

{% macro link(text, link='#', color='inherit', weight='semibold') %}
<a class="text-color-{{ color }} font-weight-{{weight}}" href="{{ link }}" target="{{ target }}">{{ text }}</a>{% endmacro %}
{% macro exlink(text, link='#', color='inherit', weight='semibold') %}
<a class="text-color-{{ color }} font-weight-{{weight}}" href="{{ link }}" target="_blank">{{ text }}</a>{% endmacro %}

{% macro fw_med(text) %}
<span class="font-weight-medium">{{ text }}</span>{% endmacro %}

<div class="container main-page">
	<h1 class="introduction">Hello, I'm Daniel Mayovskiy</h1>
	<h5 class="font-weight-normal">or {{ fw_med("@weirdmayo") }}, or {{ fw_med("@Godje") }}, depending on where you find me</h5>
	<p class="personal-description">
		I develop software, and have worked as a full-stack developer most of
		my career. I specialize in systems languages and developing user
		interfaces, mostly in the {{ link("browser", "#", 2) }}, but sometimes
		in the {{ link("terminal", "#", 3) }}. Further breakdown of my
		experience is in {{ link("my resume", "#") }}. In my free time, I
		develop for Excited Fellas and play bass guitar. Feel free to reach out
		to me through {{ exlink("my email", "mailto:{{ metadata.author.email }}")
		}}.
	</p>
	<div class="cards">
		<div class="card" style="border-left-color: var(--color-3)">
			<h2>My Projects</h2>
			<ul role="list">
				<li><a href="#">Pekabo</a> (Python)</li>
				<li><a href="#">Campgames</a> (JS/Nunjucks)</li>
				<li><a href="#">BitLearns Capstone</a> (Express/React)</li>
			</ul>
		</div>
		<div class="card" style="border-left-color: var(--color-2)">
			<h2>Social links</h2>
			<ul role="list">
				<li><a href="https://github.com/Godje">Github</a></li>
				<li><a href="#">Gitlab</a></li>
				<li><a href="#">Codepen</a></li>
				<li><a href="#">Dev.to</a></li>
			</ul>
		</div>
	</div>
</div>
